@page
@model ChangePasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Change password";
    ViewData["PageTitle"] = "Change password";
    //ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="panel panel-bd ">
            <div class="panel-body">
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Input.OldPassword"></label>
                        <div class=" input-group ">
                        <span class="input-group-addon">
                        <i class="fa fa-lock" style="color: #fff!important;"></i>
                        </span>
                        <input asp-for="Input.OldPassword" class="form-control" placeholder="Current Password" type="password"/>                                    
                        </div>                
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.NewPassword"></label>
                        <div class=" input-group ">
                        <span class="input-group-addon">
                        <i class="fa fa-lock" style="color: #fff!important;"></i>
                        </span>
                        <input asp-for="Input.NewPassword" class="form-control" placeholder="New Password" type="password"/>                                    
                        </div>                
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <div class=" input-group ">
                        <span class="input-group-addon">
                        <i class="fa fa-lock" style="color: #fff!important;"></i>
                        </span>
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" type="password"/>                                    
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update password</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}