@model ApplicationUser
@{
    ViewData["Title"] = "Update User";
    ViewData["PageTitle"] = "Update User";
}

<div class="row">            
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-5 ">
        <div class="panel-body">
            <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)
            <div class="form-group ">
                <label class="m-b-15">Update Employee</label>
                </div>
                <div class="form-group ">                                  
                    <div class=" input-group ">
                    <span class="input-group-addon">
                    <i class="fa fa-envelope" style="color: #fff;"></i>
                    </span>
                    <input asp-for="EmployeeCode" class="form-control" placeholder="EmployeeCode"/>
                    </div>
                </div>

                <div class="form-group ">                                  
                    <div class=" input-group ">
                    <span class="input-group-addon">
                    <i class="fa fa-envelope" style="color: #fff;"></i>
                    </span>                                    
                    <input asp-for="Email" class="form-control" placeholder="Email"/>                    
                    </div>
                    <a href="/Account/ChangeEmail?id=@Model.Id" style="display: none;" class="btn btn-primary btn-xs">Change Email</a>
                </div>
                
                <div class="form-group">
                    <div class=" input-group ">
                    <span class="input-group-addon">
                    <i class="fa fa-lock" style="color: #fff;"></i>
                    </span>                                    
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Mobile No"/>                                    
                    </div>
                </div>

                <div class="form-group">
                    <div class=" input-group ">
                    <span class="input-group-addon">
                    <i class="fa fa-lock" style="color: #fff;"></i>
                    </span>                                    
                    <input asp-for="Designation" class="form-control" placeholder="Designation"/>                                    
                    </div>
                </div>

                <div class="form-group">
                    <div class=" input-group ">
                    <span class="input-group-addon">
                    <i class="fa fa-lock" style="color: #fff;"></i>
                    </span>                                    
                    <input asp-for="DateofJoining" class="form-control" placeholder="Date of Joining"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class=" input-group ">
                    <span class="input-group-addon">
                    <i class="fa fa-map-marker" style="color: #fff;"></i>
                    </span>                                    
                    <select asp-for="Department" class="form-control">
                        <option>Collections</option>
                        <option>Human Resources</option>
                        <option>IT Administration</option>
                    </select>
                    </div>                    
                </div>

                <div class="form-group">
                    <div class=" input-group ">
                    <span class="input-group-addon">
                    <i class="fa fa-map-marker" style="color: #fff;"></i>
                    </span>                                    
                    <select asp-for="WorkLocation" class="form-control">
                        <option>Hyderabad</option>
                        <option>Chennai</option>
                        <option>Bangalore</option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <input type="radio" id="IsActive1" asp-for="IsActive" value="true"/> <label for="IsActive1">Active</label>
                    <input type="radio" id="IsActive2" asp-for="IsActive" value="false"/> <label for="IsActive2">Discontinue</label>
                </div>

                <div class="form-group text-right" style="position: absolute;bottom: -50px;right: 20px;">
                    <a asp-action="ManageEmployee" class="btn btn-warning">Cancel</a>
                    <button type="submit" class="btn btn-primary">Update Employee</button>
                </div>
            </form>
        </div>
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
